.btn-icon {
    background-color: #fff;
    color: var(--color-primario);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: none;
    outline: none;
    margin: 0 auto;
}

.trash {
    color: #DC4C64;
}